@value makerGreen from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
.header {
  width: 100%;
  height: 6rem;
  background-color: makerGreen;
}

.upper {
  display: flex;
  justify-content: center;
  height: 3rem;
  margin-bottom: 0.3rem;
}
.favicon {
  width: 2.5rem;
  height: 2rem;
  padding: 1rem;
}
.button {
  height: 1.5rem;
  margin-top: 1rem;
}

.down {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.header_title {
  color: makerWhite;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0.3rem 0;
}
