@value makerGreen,makerWhite,makerBlack from '../../common/colors.css';

.header {
  width: 100%;
  height: 6em;
  background-color: makerGreen;
  text-align: center;
  position: relative;
}

.favicon {
  width: 2.7rem;
  padding-top: 1em;
}
.button {
  height: 1.5rem;
  margin-top: 1rem;
}

.header_title {
  color: makerWhite;
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 0.3em;
}

.logout {
  position: absolute;
  right: 2em;
  top: 1em;
  padding: 0.5em;
  border-radius: 0.8em;
  color: makerBlack;
}
