@value makerGrey from '../../common/colors.css';
@value makerPink from '../../common/colors.css';
@value makerWhite from '../../common/colors.css';
.all {
  background-color: makerGrey;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.template {
  /* display: flex; */
  /* justify-content: center; */
  width: 500px;
  height: 300px;
  background-color: makerWhite;
}
