@value makerLightPink,makerBlack from '../../common/colors.css';
.auth {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.authButton {
  height: 2.5rem;
  width: 30rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 550;
  font-size: 0.8em;
  background-color: transparent;
  border: 1.8px solid makerBlack;
}

.authButton:hover {
  background-color: makerLightPink;
}
