.auth {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.title {
  font-size: 1.5rem;
  font-weight: 700;
}

.button {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
button {
  outline: none;
  border: 1.5px solid black;
  cursor: pointer;
  background-color: transparent;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
}

.google {
  height: 2rem;
  width: 30rem;
}

.github {
  height: 2rem;
  width: 30rem;
}
